body {
    width: 100%;
    color: #222;
}

form {
    background-color: #fafafa;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    min-width: 80%;
}


span {
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 4px;
    color: #333;
}


.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}


.debug {
    outline: 1px solid red;
}

#dropdown {
    flex: 0 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}




