body {
    font-family: sans-serif;
    width: 100%;
    font-weight: bold;
    color: #222;
    background: url()
}

form {
    margin: 0 auto;
    background-color: #fafafa;
    padding: 20px;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    width: 80%;
}

fieldset {
    border: 0px;
    margin-bottom: 24px;
}

legend {
    font-size: 24px;
    padding: 0;
}

hr {
    width: 80%;
    margin-bottom: 36px;
}


span {
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 4px;
    color: #333;
}


.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}


.debug {
    outline: 1px solid red;
}

#dropdown {
    flex: 0 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

input {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 5px;
}


.full-column {
    display: flex;
    flex-direction: column;
    flex: 0 100%;
}

